
.banner {
  padding: 3rem;
  display: flex;
  justify-content: center;
  background-color: var(--banner-color);
}

.bannerElement {
  display: block;
  padding: 0rem 1rem;
}

.subHeaderContainer {
  display: flex;
  justify-content: space-between;
}

.subHeaderElement {
  display: block;
  padding: 0;
}

.mainNav {
  box-sizing: border-box;
  margin: 0px;
  background-color: var(--nav-bar-color);
  font-weight: bold;
  font-size: 1.2rem;
  list-style-position: inside;
  padding: 0;

  display: flex;
  justify-content: center;
}

.mainNavItems {
  display: block;
  padding: 0;
  margin: 0px;
  transition: background-color 0.5s ease;
}

.navItemAnchor {
  display: block;
  text-align: center;
  padding: 1rem 0.5rem;
  min-width: 6rem;
  color: white;
  border: 2px solid var(--nav-bar-color);
  border-radius: 1px;
  transition: color 0.5s, border 0.5s;
}

.navItemAnchor:hover {
  color: royalblue;
  text-decoration: none;
  border-bottom: 2px solid royalblue;
}

.highlight {
  color: royalblue;
  border-bottom: 2px solid royalblue;
}

.header {
  display: flex;
  justify-content: center;
}

.main {
  max-width: 40rem;
  min-height: 700px;
  padding: 0 1rem;
  margin: 1rem auto 6rem;
}

.footer {
  text-align: center;
  padding: 1rem;
}