@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Nunito&display=swap');

:root {
  --background-color: rgb(249, 245, 235);
  --nav-bar-color-bkp: rgb(209, 209, 209);
  --nav-bar-color: rgb(28, 56, 121);
  --banner-color: rgb(234, 227, 210);
  --subheader-color: rgb(136, 127, 127);
  --default-text-color: black;
  --secondary-text-color: grey;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: var(--default-text-color);
  background-color: var(--background-color);
  overflow-x: hidden;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}